{%extends 'all-temp/base.html'%}
{%block content%}
    {{bock.super}}
    <div class="container">
        <H1>NAV BAR</H1>
        <H2>TAGS  TAGS TAGS TAGS TAGS TAGS TAGS TAGS TAGS TAGS </H2>
        <h1>Unsplash</h1>
        <h4>Beautiful, free photos.</h4>
        <h4>Gifted by the world’s most generous community of photographers. </h4>
        <button class="btn btn-default">Submit a Photo</button>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-1 col-md-1 col-xs-1 col-lg-1">
                <h4>Trending</h4>
            </div>
            <div class="col-sm-1 col-md-1 col-xs-1 col-lg-1">
                <h4>New</h4>
            </div>
        </div>
    </div>
{%endblock%}