{%extends 'all-temp/base.html'%}
{%block content%}
<div class="container">
    <div class="row">
        {%if photo%}
            <h2>Found {{photos|length}} of searched term {{message}}</h2>
        {%else%}
            <h2> Found 0 Photos for the search term {{message}}</h2>
        {%endif%}
    </div>
    <div class="row">
        {%if photo%}
            {%for photos in photo%}
                <div class="col-sm-6 col-md-3 col-xs-12 col-lg-3">
                    <img src="{{photos.title.photo.url}}" alt="image">
                    <h1>{{photos.title}}</h1>
                </div>
            {%endfor%}
        {%endif%}
    </div>
</div>
<div class="footer">
    <span class="footer"><i class="fa fa-camera fa-4x" aria-hidden="true"></i></span>
    <br>
    <span class="copy-right"> ©2017 apiut_toel unsplashed</span>
</div>
{%endblock%}